.css-1nie4wa-MuiTypography-root {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px !important;
    line-height: .2 !important;
    letter-spacing: 0.00938em !important;
    color: white !important;
    font-weight: 700 !important;
    position: absolute !important;
    top: 50px !important;
    right: 90px !important;
  background-color: transparent !important;
    border-radius: 5px !important;
}

.css-18e130c {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px !important;
  line-height: .2 !important;
  letter-spacing: 0.00938em !important;
  color: white !important;
  font-weight: 700 !important;
  position: absolute !important;
  top: 50px !important;
  right: 90px !important;
background-color: transparent !important;
  border-radius: 5px !important;
}